---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/sections/Hero.astro'
import ToolSection from '../components/tool/ToolSection.astro'
import FeatureGrid from '../components/sections/FeatureGrid.astro'
import FaqTeaser from '../components/sections/FaqTeaser.astro'
import CtaBand from '../components/sections/CtaBand.astro'
import AdSlot from '../components/ui/AdSlot.astro'
import { webApplicationJsonLd, websiteJsonLd } from '../lib/seo'
---

<BaseLayout path="/" jsonLd={[websiteJsonLd(), webApplicationJsonLd()]}>
	<Hero />
	<ToolSection />
	<FeatureGrid />
	<FaqTeaser />
	<div class="px-4 pb-4 sm:px-6"><AdSlot /></div>
	<CtaBand />
</BaseLayout>
